@charset "utf-8";

#header{z-index: 2000;}
.topmenu{background: url("../img/m_menu_bg.jpg") repeat-x;}
.toplogo .container{overflow: hidden;}
.topmenu li{display: block;width: 20%;padding: 7px 0;text-align: center;box-sizing: border-box;border-right: 1px solid #3e3f50;}
.topmenu li a{color:#fff;}

.toplogo{overflow-y:hidden;padding:10px 3px;text-align: center;background: #363c48;}
.toplogo .logo{width: 65%;text-align: left;}
.logo a{width:100%;float: left;}
.topleft{width: 30%;padding-top: 9px;}
.topleft button{width: 30%;}
.toplogo button{display:block;margin-left:9px;}

.s_box{display: none;background: #464e5d;}
.s_box .container .idxs{width:75%;height: 30px;margin: 5px 0;border: none;background: #464e5d;color:#fff;}
.s_box .container button{float: right;margin-top: 10px;}
.s_box .container button img{width: 60%;}
.x_btn{width: 8%;margin: 5px 0;cursor: pointer;font-size: 15px;}
.x_btn img{width: 80%;margin: 5px 0;}

.imgwrap{display:block;width:100%;}
h2{width: 150px;}
h2>img{width: 80%;}
.h2wrap .h2btn{width: 160px;}
.h2wrap .h2btn>a>img{width: 75px;}
.w90pa{width: 90%;}
.w70pa{width: 70%;}
.w50pa{width: 50%;}
.w40pa{width: 40%;}

/*content*/
#content {overflow-x:hidden; overflow-y:auto;padding-bottom: 50px;}
.contop{clear: both;padding: 15px 0 10px;}
.contop div{float: right;color: #888;font-size: 11px;}
.contop div:first-child{float: left;font-size: 17px;color:#363c48;}
.contop div:last-child{margin-top: 7px;}

/*1*/
.sel_box{display: block;width: 95%;margin: 0 auto;}
.sel_box select{float: left;width: 24.2%;padding: 3px 0;background: #f7f7f7;margin-left: 1%;color:#666;}
.sel_box select:first-child{margin: 0;}
.selbtn_wrap{width: 95%;margin: 0 auto;}
.selbtn_wrap button{float: right;width: 49%;margin-top: 10px;}
.selbtn_wrap button:first-child{float: left;}
.timg_wrap img{padding: 10px 0;}

.list_wrap ul{display: block;margin-right: -1%;}
.list_wrap ul li{display: block;width: 47%;padding-left: 2%;}
.list_wrap ul li img{border: 1px solid #ddd;}

.list_wrap li>.tac{padding: 10px 0 15px;}
.list_wrap .tac>a>.brand,.list_wrap .tac>a>.price{color:#666;font-weight: bold;}
.list_wrap ul li .name{color:#666;}
.list_wrap ul li .state{color:#951015;padding-bottom: 5px;}

/*1_v*/
.view_wrap{border: 1px solid #ccc;border-left: none;border-right: none;}
.view_wrap .bx-wrapper .bx-controls {width: 100%;bottom: 5px;text-align: center;}
.view_wrap .bx-pager .bx-pager-item {display: inline-block;margin: 0 3px;}
.view_wrap .bx-pager-item>a {display: block;width: 10px;height: 10px;background-color: #777;-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;text-align: left;text-indent: -9999px;}
.view_wrap .bx-pager-item>a.active {background: #ff4200;}

.prod_tb{text-align: left;border: 1px solid #d0d0d0;}
.prod_tb img{width: 16%;}
.prod_tb th{width: 90px;}
.prod_tb th,.prod_tb td{padding: 2%;color:#666;}
.prod_tb .tr1{background: #f7f7f7;border: 1px solid #d0d0d0;}

.product>p{display: block;padding: 15px 0 25px;font-size: 13px;font-weight: bold;}
td.col008{color: #0080ff;}
.product>.btn_wrap{padding: 20px 0 20px;text-align: center;}
.product>.btn_wrap button{width: 32%;}

.pmbtn{float: right;}
.pmbtn>button{float: left;width: 28px;}
.pmbtn>button>img{width: 100%;}
.pmbtn>input{float: left;width: 30px;height:25px;text-align: center;border-left: none;border-right: none;color:#888;}
td.tar{color:#e10000;font-weight: bold;font-size: 14px;}

.tab_wrap li{width: 33.333%;padding: 8px 0;margin:10px 0;color:#666;background: #f1d8d1;text-align: center;}
.tab_wrap li.activ{background: #8e8e8e;color:#fff;}
.tab_con{padding: 20px 0;}
.deliv_wrap{width: 95%;margin: 0 auto;}
.deliv_wrap p{line-height: 23px;color:#666;}
.qna_wrap>div{padding: 2% 2% 4% 2%;margin: 10px 0;}
.qna_wrap>div>p,.qna_wrap>div>.txt{color:#666;}
.qbox{background: #f3f3f3;}
.abox{background: #fbf0ee;}
.otlike{padding: 25px 0 20px;}

.class_pop{float: left;width: 40px;padding: 0 15px;cursor: pointer;}
.class_pop>img{width: 80%;}
.help_wrap{display: none;position: absolute;left:5px;width:95%;margin-top: 35px;border: 1px solid #ddd;}
.help_wrap .tit1{background-color: #363c48;font-size: 14px;font-weight: bold;color: #fff;}
.help_wrap .tit1>p.fr{width: 50%;text-align: right;}
.help_wrap>.tit{background-color: #f2f2f2;font-weight: bold;color: #363c48;}
.help_wrap>div{padding:2%;background-color: #fff;color: #666;}

/*2_6*/
.allsel_box{padding: 15px 0;}
.allsel_box select{width:38%;padding:3px 0;border: 1px solid #ccc;background: #f7f7f7;color:#666;}
.bndlist_tb tr{clear: both;}
.bndlist_tb td{display: block;width: 48%;padding-bottom: 15px;}
.bndlist_tb tr td:first-child{float: left;}
.bndlist_tb tr td:last-child{float: right;}
.bndlist_tb td>div{padding-bottom: 7px;margin-bottom: 7px;font-weight: bold;font-size: 15px;border-bottom: 1px solid #ccc;}
.bndlist_tb td>ul li{display: block;color:#333;}
.bndlist_tb td>ul span{color:#666;}

/*6_2*/
.container .est_btn{float: right;display: block;padding: 10px 0;text-align: right;width:30%;}

/*6_3*/
table.tb1{margin-top: 20px;border-top: 2px solid #363c48;}
table.tb1 tr{border-bottom: 1px solid #ccc;}
table.tb1 th{background: #f7f7f7;width: 90px;padding: 2%;text-align: left;}
table.tb1 td{padding: 2%;}

/*6_4*/
.list1_wrap{margin-top: 10px;padding-bottom: 50px;border-top:1px solid #e2938f;background: #fdf6f5;}
.list1_wrap>.container>p{padding: 10px 0;color:#da7974;}
.list1_wrap .inp_box{margin-bottom: 5px;}
.list1_wrap .inp_box>input,.list1_wrap .inp_box>select{height: 30px;padding-left: 5px;border-radius: 5px;border: 1px solid #ddd;box-sizing: padding-box;background: #fff;color:#000;}
.list1_wrap .inp_box>textarea{width: 97.5%;border-radius: 5px;border: 1px solid #ddd;}
.list1_wrap .inp_box>.inp100{width: 100%;}
.list1_wrap .inp_box>.inp50{width: 49%;}

.list1_wrap .ok_btn{text-align: center;padding-top: 15px;}
.list1_wrap .ok_btn button{width: 50%;}

.inp_box input.inp_st.inp_c::-webkit-input-placeholder{color: #dc8581;}
.inp_box input.inp_st.inp_c::-moz-placeholder{color: #dc8581;}
.inp_box input.inp_st.inp_c:-ms-input-placeholder{color: #dc8581;}
.inp_box input.inp_st.inp_c:-moz-placeholder{color: #dc8581;}
.inp_box select.inp_st.inp_c{color: #dc8581;}

/*8_2*/
.pink_box{padding: 30px 0;background: #fdf6f5;border-top:1px solid #ddd;border-bottom:1px solid #ddd;}
.pink_img{padding-bottom: 20px;}
.mmsvs_wrap{clear: both;}
.mmsvs_wrap .fl{width: 73%;}
.mmsvs_wrap .fl input{width: 100%;height: 42px;padding-left: 5px;border-radius: 5px;color:#888;}
.mmsvs_wrap .fl select{width: 100%;height: 42px;padding-left: 5px;margin-bottom: 5px;border-radius: 5px;color:#888;}
.mmsvs_wrap .fr{width: 25%;}
.mmsvs_wrap .fr button{width: 100%;}

/*8_3*/
.tab2 li{width: 33.333%;padding: 8px 0;margin:10px 0;color:#666;background: #f2f2f2;text-align: center;border: 1px solid #ccc;box-sizing:border-box;border-left: none;}
.tab2 li.activ{background: #fff;color:#363c48;border: 1px solid #363c48;}
.tab_con{padding: 20px 0;}

.map_wrap{margin-bottom: 20px;}
.map_wrap>.tit{padding: 10px 0;}
.map_wrap>.tit>img{width: 20%;}

.map>.tit>img{width: 60%;padding: 10px 0;}
.map .mtb{border-top: 2px solid #363c48;}
.map .mtb tr{border-bottom: 1px solid #ddd;}
.map .mtb th,.map .mtb td{color:#666;padding:2%;text-align: left;}
.map .mtb th{width: 60px;}

/*9_1*/
.board_wrap{border-top: 2px solid #333;}
.board_wrap li{display: block;padding:3% 2%;border-bottom: 1px solid #ddd;}
.board_wrap li p{color:#8c8c8c;font-size: 11px;}
.board_wrap li a{display: block;padding-bottom: 3px;color:#333;font-size: 13px;}

.list_btn{overflow-y:hidden;text-align: right;clear: both;}
.list_btn a{float: right;display: block;width: 30%;margin: 15px 0 0 5px;}

/*9_2*/
.faq_tb table{border: 1px solid #ddd;border-bottom: none;}
.faq_tb table tr{border-bottom: 1px solid #ddd;}
.faq_tb table tr th{width: 10%;}
.faq_tb table tr.a_tr{display:none;}
.faq_tb table tr.db{display:table-row;}
.faq_tb .th1{width:25px;padding:10px 5px;font-weight: bold;font-size: 15px;}
.faq_tb .th1 img{width: 70%;}
.faq_tb .q_tr{cursor:pointer;}
.faq_tb .q_tr .td1{width:auto;padding:2%;padding:10px;}
.faq_tb .q_tr .td1 p{font-size: 12px;color:#007dc5;}
.faq_tb .a_tr{background: #f7f7f7;vertical-align: top;}
.faq_tb .a_tr .th1{font-weight: bold;color: #da7974}
.faq_tb .a_tr .td1{padding:3% 2%;}

/*join_1*/
.join1_wrap{border-bottom: 2px solid #363c48;}
.join_tit>img{width: 50%;padding: 10px 0;}

.textarea_box{overflow-y: scroll;padding: 2%;height: 150px;border: 1px solid #ddd;color:#9a9a9a;font-size: 12px;}
.chebox{padding: 8px 0 15px;color:#888;}
.joinbtn_wrap{padding:20px 0 10px;text-align: center;}
.joinbtn_wrap button{width: 40%;}
.joinbtn_wrap a>img{width: 40%;border: 1px solid #ddd;box-sizing: border-box;}

/*join2*/
.join2_wrap{border-bottom: 2px solid #363c48;border-top: 1px solid #ddd;}
.join2_wrap tr{border-bottom: 1px solid #ddd;}
.join2_wrap th{padding: 2%;width:85px;}
.join2_wrap th img{width: 75%;vertical-align: middle;}
.join2_wrap td{padding: 10px 0;}
.join2_wrap input{height: 30px;margin-bottom: 5px;padding-left: 3px;background: #fff;}
.join2_wrap td>.btn1{width: 78px;height: 30px;margin-bottom: 5px;}
.join2_wrap td>.btn2{width:105px;height: 30px;margin-bottom: 5px;}
.join2_wrap .tr1{background: #f9f9f9;}
.em_sel{width: 90%;height: 30px;}

.join2_wrap .inp25{width: 25%;}
.join2_wrap .inp30{width: 40%;}
.join2_wrap .inp70{width: 70%;}
.join2_wrap .inp90{width: 90%;}

/*join3*/
.joinok_btn{border-top: 2px solid #363c48;padding-top:20px;}
.joinok_btn a{display: block;width: 25%;margin: 20px auto 0;}

/*login*/
.login_wrap{border-top: 1px solid #363c48;}
.login_wrap .tac{margin: 20px auto;}
.login_wrap .tac img{width: 25%;}
.login_in{padding:20px 10px;background: #f5f5f5;border-top: 1px solid #ccc;border-bottom: 1px solid #ccc;}
.login_in .fl{width: 70%;}
.login_in .fl img{width: 20%;}
.login_in .fl div:first-child{display: block;margin-bottom: 5px;}
.login_in .fl input{float:right;width: 65%;height: 25px;padding-left: 3px;margin-right: 5px;border: 1px solid #363c48;}
.login_in .fl span{display: block;float: left;height: 25px;line-height: 25px;}
.login_in .fr{width: 30%;}
.login_help{padding:20px 10px;border-bottom: 1px solid #363c48;}
.login_help .cb:first-child{padding-bottom: 5px;}
.login_help .cb>img{display: block;width: 50%;padding-top: 6px;}
.login_help .cb>a{float: right;width: 40%;text-align: right;}

/*index*/
.bxs_wrap .bx-pager {margin: -25px 0 0 10px;width: 95%;text-align: right;}
.bxs_wrap .bx-pager .bx-pager-item {display: inline-block;margin: 0 3px;}
.bxs_wrap .bx-pager-item>a {display: block;width: 10px;height: 10px;background-color: #777;-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;text-align: left;text-indent: -9999px;}
.bxs_wrap .bx-pager-item>a.active{background: #ff4200;}

.idximg_3{padding-bottom: 5px;background: #e0edeb;}
.idximg_3 .idxul1{margin: 0 0 0 -2%;}
.idximg_3 .idxul1 li{width: 23%;margin: 0 0 2% 2%;}
.iibox{margin: 10px 0;}

.bxs_wrap2{width: 95%;margin: 10px auto 20px;}
.bxs_wrap2 .bxs2 li{position: relative;border: 1px solid #ddd;box-sizing: border-box;}
.bxs_wrap2 .bxs2 li div.cover{display: none;width: 100%;height: 100%;background: rgba(0,0,0,.7);}
.bxs_wrap2 .bxs2 li div.cover p{color:#fff;text-align: center;line-height: 23px;}
.bxs_wrap2 .bxs2 li div.cover p:first-child{padding-top: 50px;}
.bxs_wrap2 .bxs2 li:hover div.cover{display:block;position: absolute;top:0;}
.bxs_wrap2 .bxs_tit{width: 95%;margin: 20px auto 10px;}
.bxs_wrap2 .bxs_tit img{width:50%;}
.bxs_wrap2 .bx-controls {top: -36px;right: 0;}
.bxs_wrap2 .bx-controls-direction {clear: both;}
.bxs_wrap2 .bx-prev {display: block;position: absolute;top: 2px;right: 43px;width: 27px;height: 27px;background: url('../img/m_bxsarr_left.jpg') no-repeat;text-indent: -9999px;}
.bxs_wrap2 .bx-next {position: absolute;top: 2px;right: 10px;width: 27px;height: 27px;background: url('../img/m_bxsarr_right.jpg') no-repeat;text-indent: -9999px;}

.bxs_wrap3{border-top: 1px solid #ddd;border-bottom: 1px solid #ddd;}
.bxs_wrap3>div{width: 50%;}
.bxs_wrap3 .fl{background: #f1d9d1;}
.bxs_wrap3 .bx-controls{bottom:25px;left:-80%;}
.bxs_wrap3 .bx-pager{clear: both;}
.bxs_wrap3 .bx-pager-item{float: left;padding: 0 2px;}
.bxs_wrap3 .bx-pager-item>a{display: block;width: 27px;height: 27px;background: #e1ab99;text-align: center;line-height: 27px;color:#fff;font-weight: bold;}

.bxs3 li>div{width: 100%;}
.bxs3 li>div:first-child img{display: block;}
.bxs3 li>.tac p{display: block;color:#666;margin-bottom: 5px;}
.bxs3 li>.tac p:first-child{margin-top: -5px;}
.bxs3 li>.tac p .rtxt{color:#ff0000;}

.idxul1 li{cursor: pointer;}
.map_pop{display: none;z-index: 1000;top:0px;left: 0;width: 100%;height: 100%;background: rgba(0, 0, 0, 0.5); repeat;}
.map_pop.db{display: block;}
.map_pop .map_cont .map_api_box{overflow: hidden;widows: 90%;/*width: 290px;height: 171px;*/}
.map_pop .map_cont{display: none;position: relative;/*width: 290px;*/width: 87%;margin: 30px auto 0;padding:15px;background-color: #fff;}
.map_pop .map_cont.db{display: block;}
.pop_c_btn{position: absolute;right: 0px;top: 0px;cursor: pointer;}
.map_pop .map_cont table{width: 100%;border-top: 2px solid #363c48;}
.map_pop .map_cont table tr{border-bottom: 1px solid #ccc;}
.map_pop .map_cont table th,.map_cont table td{padding: 6px;}
.map_pop .map_cont table th{width: 66px;}
.map_pop_btn{margin-top: 15px;}

/*menu*/
.menu_wrap{display: none;}
.cover{z-index: 11;display: none;position: absolute;top:94px;left: 0;width: 100%;height: 100%;background: rgba(0,0,0,0.8);}
.mgnb_tit img{vertical-align: middle;}
.m_gnb{z-index:12;position:absolute;top:-100%;width:100%;margin-top:94px;background:#fff;}
.m_gnb>.tac{padding: 5px 0;border-top:1px solid #ddd;border-bottom:1px solid #ddd;}
.m_gnb>.tac>div{padding: 7px 0;background: #f5f5f5;font-size: 14px;}
.m_gnb>.tac>div>span{color:#56badf;}
.m_gnb>.tac>div>span>.fs12{font-size: 12px;}

.m_gnb>.menu>li>a{display:block;height:42px;line-height:42px;text-indent:20px;font-size:14px;border-bottom: 1px solid #ddd;color:#666;}
.m_gnb>.menu>li>a>img{width: 80%;vertical-align: middle;}
.m_gnb>.menu>li>p{display:block;height:44px;line-height:44px;text-indent:20px;font-size:18px;border-bottom: 1px solid #ddd;cursor: pointer;color:#363c48;font-weight: bolder;text-align: center;}
.m_gnb>.menu>li>p:hover{background: #363c48;color:#fff;}
.m_gnb>.menu ul{display:none;background: #f7f7f7;border-bottom: 1px solid #ddd;}
.m_gnb>.menu ul li a,.m_gnb>.menu ul li p{display:block;height:38px;padding-left: 20px;line-height:38px;background: #f3f3f3;color:#666;cursor: pointer;text-align: center;}
.m_gnb>.menu ul li a:hover,.m_gnb>.menu ul li p:hover{background: #363c48;color:#fff;}
.mgnb_tit>.mgnb_x{display:none;width: 37px;margin:-245px 0px 0 205px;cursor: pointer;}


/*footer*/
#footer{width: 100%;}
.b_mline{background-color: #fff;text-align: left;}
.b_mline>div{padding: 2%;border-top: 1px solid #ccc;background: #f7f7f7;}
.b_mline>div:first-child{background: #fff;}
.fttxt{background-color: #363c48;padding:10px 0 25px;}
.fttxt>.container{overflow: hidden;}
.fttxt p{color: #fff;font-size: 11px;line-height: 18px;}

.fttxt>div>a{display: block;margin-top:20px;}
.sns_wrap a{float: left;display: block;width: 49%;padding: 15px 0;text-align: center;}
