@charset "utf-8";

@import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css);

/* Common */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,form,fieldset,p,button{margin:0;padding:0;font-size: 12px;font-family: 'Nanum Gothic';font-weight:normal;color:#333;}
td,th{padding: 0;font-family: 'Nanum Gothic', sans-serif;font-weight:normal;font-size: 13px;color:#333;}
a{color: inherit;font-size: inherit;font-weight: inherit;}
body{height:100%;position:relative;-webkit-text-size-adjust:none;*word-break:break-all;-ms-word-break:break-all}
img,fieldset,iframe{border:0 none}
li{list-style:none}
input,select,button{padding: 0;border: 1px solid #ddd;box-sizing: border-box;font-size: 12px;font-family: 'Nanum Gothic';vertical-align:middle}
img{max-width: 100%;vertical-align:top}
em,address{font-style:normal}
label,button{cursor:pointer}
button{margin:0;padding:0}
a{text-decoration:none}
button{background:none;border:none;}
option{padding-right:6px}
legend{*width:0}
table{width: 100%;border-collapse:collapse;border-spacing:0}
pre{white-space: pre-line;}

input[type=text],input[type=password],textarea{-webkit-border-radius:0;-webkit-appearance:none;}
select{-webkit-border-radius:0;}

/* blind */
.blind{display: inline-block !important;overflow: hidden;position: absolute;top: 0;left: 0;width: 1px !important;height: 1px !important;margin: 0 !important;font-size: 0 !important;line-height: 0 !important;}

/* popup Layer */
.syspop{z-index: 1200;position: absolute;background-color: #fff;border: 1px solid #ccc;}
.l-cont{width: 300px;word-break: break-all;}
.l-footer{position: absolute;bottom: 5px;right: 10px;text-align: right;}
.l-footer span{cursor: pointer;}

/* position */
.por{position: relative;}
.poa{position: absolute;}
.pof{position: fixed;}

.imgz{width: 100%;}

.bdn{border: none;}

.cup{cursor: pointer;}

.fwb{font-weight: bold;}

.vam{vertical-align: middle;}


/* text */
.tov{text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
.tal{text-align: left;}
.tac{text-align: center;}
.tar{text-align: right;}
.udlt{text-decoration:line-through;}

/* padding */
.pt0{padding-top: 0;}
.pt5{padding-top: 5px;}
.pt10{padding-top: 10px;}
.pt15{padding-top: 15px;}
.pt20{padding-top: 20px;}
.pt30{padding-top: 30px;}
.pt40{padding-top: 40px;}
.pt50{padding-top: 50px;}

.pb0{padding-bottom: 0;}
.pb5{padding-bottom: 5px;}
.pb10{padding-bottom: 10px;}
.pb15{padding-bottom: 15px;}
.pb20{padding-bottom: 20px;}
.pb30{padding-bottom: 30px;}
.pb40{padding-bottom: 40px;}
.pb50{padding-bottom: 50px;}
.pb60{padding-bottom: 60px;}
.pb70{padding-bottom: 70px;}
.pb80{padding-bottom: 80px;}
.pb150{padding-bottom: 150px;}

.mt10{margin-top: 10px;}
.mb0{margin-bottom: 0;}
.mb5{margin-bottom: 5px;}
.mb10{margin-bottom: 10px;}
.mb15{margin-bottom: 15px;}
.mb20{margin-bottom: 20px;}
.mb30{margin-bottom: 30px;}
.mb40{margin-bottom: 40px;}
.mb50{margin-bottom: 50px;}
.mb60{margin-bottom: 60px;}
.mb70{margin-bottom: 70px;}
.mb80{margin-bottom: 80px;}
.mb150{margin-bottom: 150px;}

/* display */
.dn{display: none;}
.dib{display: inline-block;}
.db{display: block;}

/* float */
.fl{float: left;}
.fr{float: right;}
.flUl li{float: left;}
.flUl:after{content: "";display: block;clear: both;}
.cb:after{content: "";display: block;clear: both;}

.bd_s_box {width: 95%;margin: 10px auto;text-align: center;}
.bd_s_box .bdSelect {width: 20%;height: 30px;border: 1px solid #cdcdcd;color:#333;}
.bd_s_box input.bd_s_inp {width: 50%;height: 30px;border: 1px solid #cdcdcd;}
.bd_s_box .btn_img_a {width: 35%;height: 30px;vertical-align: top;}
.bd_s_box .btn_img_a .btn_img {height: 30px;}

/* pageNum */
.pageNum{text-align: center;padding: 10px 0;}
.pageNum a{display: inline-block;width: 28px;height: 28px;line-height: 28px;border: 1px solid #bdbdbd;text-align: center;color: #666666;cursor: pointer;font-weight: 300;background-color: #fff;}
.pageNum a.activ{border: 1px solid #3b291a;color: #fff;font-weight: bold;background-color: #493423;font-weight: 400;}
.pageNum a.page{color: #666;border-color: #b5b5b5;}

.bx-wrapper{position: relative;}
.bx-wrapper .bx-controls{position: absolute;width: 100%;}


/* layout */

.container{width: 95%;margin: 0 auto;}
.container_bgf3{width: 100%;margin: 0 auto;background-color: #f3f3f3;}
